html {
  font-size: 16px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.85rem;
  color: #333;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h1 {
  font-size: 1.75rem;
  color: darkblue;
  margin-bottom: 0;
}

h2 {
  text-transform: uppercase;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 200px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 105px;
  margin-right: 10px;
}

label {
  width: 120px;
  display: inline-block;
  text-align: right;
}

input + label {
  width: auto;
}

header {
  margin: 40px 20px 0;
  font-size: 0;
}
header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}
header #logo {
  width: 15%;
  height: auto;
}
header #logo img {
  max-width: 80px;
  height: auto;
}
header #navbar {
  width: 70%;
  text-align: center;
  color: blue;
  font-weight: 500;
}
header #navbar ul li {
  display: inline;
}
header #actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
}

.main{
  margin-top: 140px;
  text-align: center;
}